// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{
  #wrapper-admin{
    .dashboard{
      margin: 50px;
    }
    .admin-list{
      margin: 0 50px;
      .dashboard{
        margin: 50px;
      }
      table{
        tr{
          th{
            font-size: 15px;
          }
          td{
            font-size: 15px;
          }
        }
      }
    }
    .admin-add{
    }
    .admin-edit{
    }
  }
}
