// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{
  #wrapper-admin{
    .dashboard{
      margin: 50px;
    }
    .admin-list{
      width: 100%;
      padding: 0 100px;
      .dashboard{
        margin: 50px;
      }
      table{
        tr{
          th{
            font-size: 15px;
          }
          td{
            font-size: 15px;
            #adminModal{
              .modal-dialog{
                .modal-content{
                  .modal-header{
                    padding: 30px;
                  }
                  .content{
                    padding: 20px;
                    #confirm-context{
                      font-size: 20px;
                    }
                  }
                  .modal-footer{
                    padding: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .admin-add{
      width: 100%;
      padding: 0 100px;
      .admin-add-submit{
        float:right;
      }
    }
    .admin-edit{
      width: 100%;
      padding: 0 100px;
      .admin-edit-submit{
        float:right;
      }
    }
  }
}
