
html,body{
  height: 100%;
}

header{
  background-color: #2f363b;
  width: 100%;
  height: 70px;
  margin-bottom: 30px;
  #logout{
    float:right;
    margin: 15px 30px 15px 0;
    a{
      font-size: 25px;
      color: white;
    }
  }
}
main{
  min-height: 100%;
  position: relative;
  height: auto !important;
  //height: 100%;
  width: 100%;
}

#wrapper{
//  width: 100%;
  //margin: 0 auto;
  position: relative;
  height: auto !important;
  padding-bottom: 400px;
  height: 100%;
}


footer{
  background-color: #2f363b;
  position: absolute;  /* フッターを絶対配置に指定する設定 */
  bottom: 0;           /* フッターを一番下に置くぜ！ */
  width: 100%;
  height: 100px;       /* フッターの高さ */
  p{
    text-align: center;
    color: white;
    padding: 20px;
  }
}
