
#wrapper{
  #wrapper-company{
    .dashboard{
      margin: 50px;
    }
    .company-list{
      width: 100%;
      padding: 0 100px;
      table{
        tr{
          th{
            font-size: 15px;
          }
          td{
            font-size: 15px;
          }
        }
      }
    }
    .company-add{
      width: 100%;
      padding: 0 100px;
      .company-add-submit{
        float:right;
      }
    }
    .company-edit{
      width: 100%;
      padding: 0 100px;
      .company-edit-submit{
        float:right;
      }
    }
    .company-project-list{
      float: left;
      width: 100%;
      padding: 0 100px;
    }

  }
}
