
#wrapper{
  #wrapper-company{
    .dashboard{
      margin: 50px;
    }
    .company-list{
      width: 100%;
      padding: 0 100px;
      table{
        tr{
          th{
            font-size: 15px;
          }
          td{
            font-size: 15px;
            #companyModal{
              .modal-dialog{
                .modal-content{
                  .modal-header{
                    padding: 30px;
                  }
                  .content{
                    padding: 20px;
                    #confirm-context{
                      font-size: 20px;
                    }
                  }
                  .modal-footer{
                    padding: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .company-add{
      width: 100%;
      padding: 0 100px;
      .company-add-submit{
        float:right;
      }
    }
    .company-edit{
      width: 100%;
      padding: 0 100px;
      .company-edit-submit{
        float:right;
      }
    }
    .company-project-list{
      float: left;
      width: 100%;
      padding: 0 100px;
    }

  }
}
