
#wrapper{
  #wrapper-project{
    .dashboard{
      margin: 50px;
    }
    .project-list{
      width: 100%;
      padding: 0 100px;
      .dashboard{
        margin: 50px;
      }
      table{
        tr{
          th{
            font-size: 15px;
          }
          td{
            font-size: 15px;
          }
          td#dead-danger{
            color: #FF0000 !important;
            font-size: 20px;
          }
          td#dead-caution{
            color: #FFCC33 !important;
            font-size: 20px;
          }
        }
      }
    }
    .project-add{
      width: 100%;
      padding: 0 100px;
      .submit{
        .project-add-submit{
          float:right;
        }
      }
    }
    .project-edit{
      width: 100%;
      padding: 0 100px;
      .submit{
        .project-edit-submit{
          float:right;
        }
      }
    }
    .project_graph{
      ul{
        li{
          margin-bottom: 20px;
          .title{
            width: 100%;
            font-size: 14px;
            font-weight: 800;
            margin-bottom: 20px;
          }
          canvas{
            width: 100%;
            height: 300px;
          }
        }
      }
    }

    .project-users{
      width: 100%;
      padding: 0 100px;
    }
  }
}
