
#wrapper{
  .btn{
    margin: 13px
  }
  .task-list{
    margin: 0 50px;
    h1{
      font-size: 15px;
    }
    table{
      tr{
        td{
          font-size: 15px;
        }
      }
    }
  }
}
